@import url('https://fonts.googleapis.com/css2?family=Itim&family=Pattaya&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Itim', cursive;
  
}
button{
  background-color: aquamarine;
  color: blue;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 15px;
}
a{
  text-decoration: none;
  color: black;
}
li{
  list-style: none;
}
main{
  min-height: 90vh;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}